/* styles for my currency form*/


#inner-header{
    /*height:200px; */
    background: #0d4610b2;
    overflow:hidden;
    padding:20px 0;
}


#logo{
    float:right;
}


nav ul {
    float:right;
}
nav li {
    float:left;
    margin-left:15px;
    list-style-type:none;
    
}
nav a {
    text-decoration: none;
    color: white;

}






*{
padding:0;
margin:0;
box-sizing: border-box;

}

body{
background:rgb(151, 184, 155);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 100%;
}

form {

    width:400px;
    margin: 20px auto;
   border: 1px solid burlywood;
   padding: 15px;
}

label{

    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;

}

input{
 margin-bottom: 10px;

}


select {

margin-bottom: 10px;

}

form li{
    line-height:.8;
    list-style-type: none;
    
    }


 label + ul{
        margin: 5px 0 10px 15px;
 }

input[type=radio]{
 margin-right: 3px;
 height: auto;
 width: auto;

}

input {
height: 30px;
width: 100%;

}


input[type=submit] {
height:auto;
width: auto;
}

input{

height: 30px;
width: 100%;

}

select{

display: block;
margin-bottom: 10px;
}

button {
    display: block;
 padding:10px;
 background:burlywood;
 text-align: center;
 margin: 20px auto;
}
button a {
    color:black;
    font-size:1.2em;
    text-decoration:none;

}

.box {
    width: 500px;
    margin: auto;
    text-align: center;


}






/* tyography*/

h1,h2{
    text-align: center;
    margin-top: 20px;
    word-spacing: 10px;
    
    }
    
.box h2{
word-spacing: 5px;
}


